ul,ul li{
	margin:0;padding:0;list-style:none;
	}
h1,h2,h3,p,form{
	margin:0;padding:0;
	}
.clear{
	clear:both;}img{border:none;
	}
#contenedor{
	width:90%;max-width:900px;width:expression(document.body.clientWidth> 901? "900px":"auto");margin:0 auto;
	}

#cabecera{
	clear:both;
	}
#menu{
	clear:both;border-bottom:1px solid #004C99;
	}
#lateral{
	float:left;width:20%;
}
#contenido{
	float:right;width:78%;
	}
#contenido #principal{
	float:left;width:78%;
	}
#contenido #secundario{
	float:right;width:20%;
	}
#pie{
	clear:both;
	}
#cabecera #logo{
	float:left;
	}
#cabecera #buscador{
	float:right;
	}
#menu ul#menu_principal li{
	display:inline;float:left;
	}
#contenido #principal
.articulo img{width:100px;float:left;
}
#pie
.enlaces{float:left;
}
#pie
.copyright{
	float:right; border-top: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5;
}
#noticias{
	border: 1px solid #C5C5C5;
}
#publicidad{
	border: 1px dashed #CC6600;
}
#secundario{
	border: 1px solid #CC6600;
}
