/* Propietats genèriques per a tot el <body> */
body {
   /* Centrem el body, per poder centrar els divs (ho fem per IE) */
   text-align: center ;
   /* Color de fons de la web */
   background-color:#FFC7FC;
   /* Tipus de lletra */
   font: small sans-serif;
   /*Treiem marges*/
   margin: 0;
}

/* Contenidor que ho engloba tot (capçalera, laterals i peu) */
.contenidor{
   /* El contingut de la web ocuparà el 90% d'amplada de la finestra*/
   width: 90%;
   /* Centrem el contenidor */
   margin: 0px auto;
   /* Text alineat a l'esquerra */
   text-align: left;
   /* Fons de color blanc */
   background-color:white;
}

#logo {
  display: block;
  margin: auto;
  padding-top: 50px;
  width: 70%;
}

/* Encapçalaments */
h1{
  /* Mida de la lletra*/
  font-size: 5em;
  /* Centrem el text */
   text-align: center;
}

h2{
  /* Mida de la lletra*/
  font-size: 4em;
  /* Centrem el text */
   text-align: center;
}
h3{
  /* Mida de la lletra*/
  font-size: 2em;
  /* Treiem el marge dels encapçalaments */
   margin-top:0em;
}

/* Columna esquerra - Menú*/
nav {
   /* amplada de la columna lateral del menú */
   width: 20% ;
   /* El menú quedarà flotant a l'esquerra */
   float: left ;
}

nav ul {
   /*Treiem el tipus de llista */
   list-style-type: none ;
   margin-top: 0em;
   margin-right: 1em;
   padding: 1em;
   /* Posem una vora al menú */
   border: thick solid #D6823F;
}

nav ul li {
   /* Color de fons de cada ítem del menú */
   background-color: #B20298;
}

/* Enllaços del menú */
nav ul li a {
   /* Color de lletra */
   color: white ;
   /* Treiem el subratllat */
   text-decoration: none ;
   /* Sempre sortiran les paraules en majúscules */
   text-transform: uppercase ;
   /* Mida de la lletra*/
  font-size: 2em;
   /* Per tal que l'enllaç ocupi tota la línia */
   display: block ;
   /* posem farciment */
   padding: 0.2em 0.2em 0.2em 0.4em ;
   height: 4em;
}

nav ul li a:hover {
   /* Quan passem pel damunt, canviem el color de fons */
   background: #CC4ABD;
   /* Quan passem pel damunt, posem una vora esquerra */
   border-left: 0.3em solid #58014B;
   /* Quan passem pel damunt, canviem el color de lletra */
   color: #58014B;
}

/* Columna central */
section {
   /* Posem de marge del cos de la web tant com ocupa la columna esquerra */
   margin-left: 20% ;
   padding-top: 0.1em;
   padding-left: 0.5em;
   padding-right: 1em;
   width: 80%;
}

 /*peu*/
footer {
   /* Color de fons del peu */
   background-color:#FFCC1C;
   /* Color de lletra */
   color: black;
   /* Treiem qualsevol element flotant que pugui tenir, per exemple el menú... */
   clear: both;
   /* Mida de la lletra */
   font-size: small;
   /* Lletra negreta */
   font-weight: bold;
   /* Centrem el text */
   text-align: center;
   overflow: auto;
}

#p{
  text-align: right;
}

div img {
  float:left;
  width: 10%
}
