body {
  background-color: #33E7FF
}

h1 {
  text-align: center;
  color: #005a66;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.caixa{
  border-style: dashed;
  font-style: italic;
  float: left;
  width: 190px;
  height: 190px;
  display: inline;
  margin: 10px;
  padding: 10px;
  background-color: #00B4CC

}

p::first-letter {
  float: left;
  color: #005a66;
  font-size: 300%;
  font-style: normal;

}
footer {
  clear: both;
}

div {
    clear: both;
}

img {
  height: 100px;
  width: 200px;
}

img.logo{
  height: 50px;
  width: 300px;
}
.izquierda {
  float: left;
}

.derecha {
  float: right;
}
